<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>项目文档</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->


    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/project.css">
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>

</head>
<body>
<div class="container-fluid main" id="main">

    <div class="content">

        <div class="row">
            <h2 align="center" style="margin-bottom: 20px;">{{ApiPackage.title}}</h2>
            <hr />
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="list-group" >
                    <div v-for="package in ApiPackage.packageList">
                        <a :href="'#collapse'+package.id" class="list-group-item active" :data-toggle="'collapse'" style="margin-bottom: 2px;">
                            <span class="badge">{{package.content.length}}</span>
                            {{package.name}}
                        </a>
                        <div class="collapse" :id="'collapse'+package.id">
                            <div class="list-group" style="margin-top: 5px">
                                <button type="button" @click="getApi(api.cid)" class="list-group-item" v-for="api in package.content" style="padding-left: 30px">{{api.cname}}</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: 20px;font-weight: bold;color: gray">{{ApiInfo.name}}</div>
                    <div class="panel-body" style="font-size: 18px">
                        <p><span style="font-weight: bold">请求地址：</span>{{ApiInfo.url}}</p>
                        <p><span style="font-weight: bold">请求类型：</span>{{ApiInfo.methodType}}</p>
                        <p>
                            <span style="font-weight: bold">入参：</span>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>名称</th>
                                        <th>类型</th>
                                        <th>长度</th>
                                        <th>说明</th>
                                    </tr>
                                    <tr v-for="i in ApiInfo.in">
                                        <td>{{i.pname}}</td>
                                        <td>{{i.ptype}}</td>
                                        <td>{{i.plength}}</td>
                                        <td>{{i.pinfo}}</td>
                                    </tr>
                                </table>
                            </div>
                        </p>
                        <p>
                            <span style="font-weight: bold">出参：</span>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>名称</th>
                                    <th>类型</th>
                                    <th>长度</th>
                                    <th>说明</th>
                                </tr>
                                <tr v-for="o in ApiInfo.out">
                                    <td>{{o.pname}}</td>
                                    <td>{{o.ptype}}</td>
                                    <td>{{o.plength}}</td>
                                    <td>{{o.pinfo}}</td>
                                </tr>
                            </table>
                        </div>
                        </p>
                        <p>
                            <span style="font-weight: bold">说明：</span>
                            {{ApiInfo.info}}
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>



    <div class="footer navbar-fixed-bottom">
        龙游比乐网络科技有限公司  lovean
    </div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script src="js/base.js"></script>
<script src="js/project.js"></script>
</body>
</html>